[Desktop Entry]
Type=Application
Exec=/bin/sh -c "$HOME/Launcher/desktopIcons"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[fr_FR]=0-configurationIconsBureau
Name=0-desktopIconsConfiguration
Comment[fr_FR]=Hide icons on desktop
Comment=Hide icons on desktop
